.row
  - box 6, 'Template information', {'Edit' => edit_template_path(@template), 'Back' => templates_path} do
    %p
      %b Name:
      = @template.name
    %p
      %b Template type:
      %span.labelObjectTag
        = @template.template_type

    %p
      %b Template Sub type:
      %span.labelObjectTag
        = @template.template_sub_type_label

    %p
      %b Template:
      = image_tag @template.uploaded_file.assets, :width => '500px' if @template.uploaded_file
