%li{class: "next navLink "+(current_page.last? ? "disabled" : "" )}
  -url = "#{((defined? kaminari_url) ? kaminari_url : url.split('?')[0])}?page=#{current_page.to_i + 1}#{filter_params}"
  = link_to fa_icon("caret-right"), url, :rel => 'next', :remote => remote
