-background = defined? background ? background : "#fff"

.modal.fade#information-modal{:tabindex => "-1", :role => "dialog", "data-replace" => true, style: "overflow: initial; left: 50%"}
  .modal-dialog
    .modal-content
